<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or settings.site.name }}</title>
		<meta name="description" content="{{ description or settings.site.description }}">
		<link rel="icon" href="/favicon.ico">
		<link rel="stylesheet" href="/css/index.css">
		
		{# Блок для уникальных стилей каждой страницы #}
		{% block pageStyles %}{% endblock %}
	</head>
	<body>

		{% block mainContent %}{% endblock %}
		
		{# Подключаем скрипт Яндекс.Метрики #}
		<script src="/js/y-metrika.js" defer></script>
		<noscript><div><img src="https://mc.yandex.ru/watch/{{ settings.integrations.yandex_metrika_id }}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	</body>
</html>
